[Unit]
Description=QEMU-KVM VM hot backup with external snapshots

[Service]
Type=simple
ExecStart=/usr/bin/env HOME=/root /var/lib/libvirt/images/vm-backup.sh rsync_user@10.191.80.5::vm2/

[Install]
WantedBy=multi-user.target
